/*
.body{
    background-color: beige
}

#titulo h1{
    text-align: center;
    font-size:x-large;
    color:aliceblue;
    font-weight: bold;
    font-family: 'Aboreto', cursive;
    width: 550px;  
    padding: 25px;
    border-radius: 50px;
    margin: 0 auto;
    background-color: #fcc;
}

#barraNavegacion ul{
    list-style-type: none;
    text-align: center;
} 

#barraNavegacion li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
} 

#barraNavegacion li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 } 

 #barraNavegacion li a:hover{
    background-color: #333333;
    color: #ffffff;
 } */

 * {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}
body{
    background-color: #3D3C3C;
}
ul {
    list-style: none;
}

li {
    padding: 5%;
}

header {
    /*background-color: rgba(211, 211, 211, 0.952);*/
    width: 100%;
    background-color: #3D3C3C;
}

p {
    color: ghostwhite;
}

.flex {
    width: auto;
    display: flex;
    
}

#logo {
    align-self: center;
    margin-left: 2%;
}

.nav-bar {
    width: 100%;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

li a:link,
li a:visited,
li a.active {
  text-decoration: none;
  font-weight: 600;
  font-size: 3vmin ;
  color: #d48a0d;
  letter-spacing: 0.2em;
}

li a:hover {
  text-decoration: none;
  font-weight: 600;
  color: #d48a0d;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: #d48a0d;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d48a0d;
  transform-origin: center;
  transition: transform 0.45s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.categoria {
    display: flex;
    height: auto;
    background-color: #494747;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

#mejorpeli{
    background-color: #494747;
}

.categoria img {
    width: 100%;
    border-radius: 20px;
    margin: 10px;
}

.width-50 {
    width: 50%;
}

.h1 {
    font-size: 34px;
    font-weight: 600;
}

.h2 {
    font-size: 24px;
    font-weight: 600;
}

.formulario{
 background-color:#494747;
 padding: 10px;
 margin:10px;
 color:#d48a0d;
 border: #d48a0d;
 width: 40%;
 border-radius: 20px;
}

.formulario ul li{
    padding: 2px;
    margin:2px;
}

.footer {
    background-color: #4a4949;
    color:ghostwhite;
    text-align: center;
    font-size: small;
    font-weight: 40;
}
.footer h3,h4{
    margin:2px;
}

#box div
{
position: absolute;
height: 250px;
width: 250px;
border: 1px solid lightgrey;
background: rgba(255,200,100,0.8);
text-align: center;
font-size: 200px;
}
 
#box
{
-webkit-animation-name: animation;
animation-name: animation;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-duration: 4s;
animation-duration: 4s;
margin:80;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform-origin: 125px 125px 0;
transform-origin: 125px 125px 0;
}
 
#box .uno
{ 
-webkit-transform: translateZ(125px);
transform: translateZ(125px);
}
#box .dos
{ 
-webkit-transform: rotateX(-90deg) translateZ(125px);
transform: rotateX(-90deg) translateZ(125px);
}
#box .tres 
{
-webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
}
#box .cuatro 
{
-webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
}
#box .cinco
{ 
-webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
}
#box .seis 
{
-webkit-transform: rotateY(90deg) translateZ(125px);
transform: rotateY(90deg) translateZ(125px);
}
 
@keyframes animation
{
from,to{}
16% { -webkit-transform: rotateY(-90deg);}
33% { -webkit-transform: rotateY(-90deg) rotateZ(90deg);}
50% { -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg);}
66% { -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg) rotateY(-90deg);}
83% { -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg) rotateY(-90deg) rotateX(-90deg);}
}

.imagen-logo{
    height:250px;
    width:250px;
}