* {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}
body{
    background-color: #3D3C3C;
}
ul {
    list-style: none;
}

li {
    padding: 5%;
}

header {
    width: 100%;
    background-color: #3D3C3C;
}

p, h1 {
    color: ghostwhite;
}

.flex {
    width: auto;
    display: flex;
}

#logo {
    align-self: center;
    margin-left: 2%;
}

.nav-bar {
    width: 100%;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

li a:link,
li a:visited,
li a.active {
  text-decoration: none;
  font-weight: 600;
  font-size: 3vmin ;
  color: #d48a0d;
  letter-spacing: 0.2em;
}

li a:hover {
  text-decoration: none;
  font-weight: 600;
  color: #d48a0d;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: #d48a0d;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d48a0d;
  transform-origin: center;
  transition: transform 0.45s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.categoria {
    display: flex;
    height: auto;
    background-color: #494747;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

#video {
    height: auto;
    width: auto;
}


  
 
#serie-texto, #bcs-video, #img-collage {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.categoria img {
    width: 100%;
    border-radius: 20px;
    margin: 10px;
}

.width-50 {
    width: 50%;
}

.h1 {
    font-size: 34px;
    font-weight: 600;
}

.h2 {
    font-size: 24px;
    font-weight: 600;
}

.formulario{
 background-color:#494747;
 padding: 10px;
 margin:10px;
 color:#d48a0d;
 border: #d48a0d;
 width: 40%;
 border-radius: 20px;
}

.formulario ul li{
    padding: 2px;
    margin:2px;
}

.footer {
    background-color: #4a4949;
    color:ghostwhite;
    text-align: center;
    font-size: small;
    font-weight: 40;
}
.footer h3,h4{
    margin:2px;
}


.imagen-logo{
    height:250px;
    width:250px;
}