* {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}
:root {
    --naranja: #d48a0d;
    --gris-oscuro: #3D3C3C;
    --gris-claro: #494747;
}

body{
    background-color: #3D3C3C;
}
.nav-bar {
    width: 100%;
}
.nav-bar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-bar ul li a:link, li a:visited, li a.active{
  text-decoration: none;
  font-weight: 600;
  font-size: 3vmin ;
  color: #d48a0d;
  letter-spacing: 0.2em;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: var(--naranja);
}

.underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--naranja);
    transform-origin: center;
    transition: transform 0.45s ease-out;
}

.underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}
/*Responsive Header*/
.header-grid {
    display: grid;
    background-color: var(--gris-oscuro);
    grid-gap: 1em;
    padding: 1.5em;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(5, 0.5fr);
}
p {
    color: ghostwhite;
}
.logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;

    width: 60px;
    height: 60px;
    justify-self: center;
}
#box {
    animation-name: animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    margin: 80;
    transform-style: preserve-3d;
    transform-origin: 30px 30px 0;
}
#box{transform-origin: 60px 60px 0px;}

    #box div {
        width: 120px;
        height: 120px;
    }

    #box div img {
        width: 120px;
        height: 120px;
    }
/*Box Animation*/
#box div {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 1px solid lightgrey;
    background: rgba(255, 200, 100, 0.8);
    text-align: center;
}

#box div img {
    width: 60px;
    height: 60px;
}

#box {
    animation-name: animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    margin: 80;
    transform-style: preserve-3d;
    transform-origin: 30px 30px 0;
}

.uno {
    transform: translateZ(30px);
}

.dos {
    transform: rotateX(-90deg) translateZ(30px);
}

.tres {
    transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
}

.cuatro {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
}

.cinco {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
}

.seis {
    transform: rotateY(90deg) translateZ(30px);
}

@keyframes animation {

    from,
    to {}

    20% {
        -webkit-transform: rotateY(-90deg);
    }

    40% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    }

    60% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg);
    }

    80% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg) rotateY(-90deg);
    }

    100% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg) rotateY(-90deg) rotateX(-90deg);
    }
}

/*Box Animation End*/

.menues {
    display: grid;
    justify-items: center;
    align-items: center;

    justify-content: space-evenly;
    align-content: center;

    grid-template-columns: 3fr;
    grid-template-rows: repeat(5, 2fr);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 7;
}

.menues {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}
.menues a {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}
.width-50 {
    width: 50%;
}
.width-100 {
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns:  50% 50%;
    gap: 10px;
    padding: 10px;
    background-color:#494747;
    margin: 20px;
    border-radius: 20px;
}
.grid-container ul li{
    color:ghostwhite;
}

.grid-item {
    background-color: #494747;
    padding:10px;   
    color: ghostwhite;
    text-align: left;   
    font-size: 24px;
    font-weight: 300;      
}
img {
    max-width: 100%;
    max-height: 100%;
}
.imagen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.flex {
    width: auto;
    display: flex;
}
.categoria {
    display: flex;    
    height: auto;
    width: auto;
    color: ghostwhite;
    background-color: #494747;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.categoria img {
    width: 100%;
    border-radius: 20px;
    margin: 10px;
}
p, h1 {
    color: ghostwhite;
}
.h1 {
    font-size: 34px;
    font-weight: 600;
}
.h2 {
    font-size: 24px;
    font-weight: 600;
}
#pelicula-texto{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.mejores-pelis{
    font-size: 24px;
    color: ghostwhite;
    text-align: center;
}
.mejores-pelis ul{
    list-style: none;
}
.mejores-pelis li a:link, li a:visited, li a.active {
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    /*olor: rgb(111, 141, 123);*/
    color: #d48a0d;
}
.mejores-pelis li a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #a16e14;
}
.footer {
    background-color: #4a4949;
    color:ghostwhite;
    text-align: center;
    font-size: small;
    font-weight: 40;
}
.footer h3,h4{
    margin:2px;
}

@media only screen and (min-width: 1200px) {
    .width-50 {
        min-width: 50%;
    }
    .width-100 {
        min-width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .width-50, .width-100 {
        min-width:100%;
    }
    .categoria {
        flex-wrap: wrap;
    }
}

