:root {
    --naranja: #d48a0d;
    --gris-oscuro: #3D3C3C;
    --gris-claro: #494747;
}

* {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

body {
    background-color: #3D3C3C;
}

ul {
    list-style: none;
}

li {
    padding: 5%;
}

/*Responsive Header*/
.header-grid {
    display: grid;
    background-color: var(--gris-oscuro);
    grid-gap: 1em;
    padding: 1.5em;
}

.menues {
    display: grid;
    justify-items: center;
    align-items: center;

    justify-content: space-evenly;
    align-content: center;

    /*background-color: blueviolet;*/
}

.menues a {
    /* width: 50%; */
    /* height: 100%; */
    text-align: center;
    text-decoration: none;
    /*border-style: solid;*/
    /*border-color: brown;*/
}

@media (max-width:800px) {
    .header-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(5, 0.5fr);
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    .logo a {
        width: 10%;
    }

    .menues {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 0.5fr);
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 7;
    }

    .menues a {
        font-size: 2vw;
    }
}


@media (min-width:800px) {
    .header-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
    }

    .logo a {
        width: 10%;
    }

    .menues {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .menues a {
        font-size: 2vw;
    }
}

@media (min-width:1200px) {
    .header-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;

        justify-self: center;
        width: 120px;
        height: 120px;
    }

    .logo a {
        width: 25%;
    }

    .menues {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .menues a {
        font-size: 1.75rem;
    }
}

/*Responsive Header*/

p {
    color: ghostwhite;
}

.flex {
    width: auto;
    display: flex;

}

#logo {
    align-self: center;
    margin-left: 2%;
}

.nav-bar {
    width: 100%;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

li a:link,
li a:visited,
li a.active,
li a:hover {
    text-decoration: none;
    font-weight: 600;
    font-size: 3vmin;
    color: var(--naranja);
    letter-spacing: 0.2em;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: var(--naranja);
}

.underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--naranja);
    transform-origin: center;
    transition: transform 0.45s ease-out;
}

.underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

.categoria {
    display: flex;
    height: auto;
    background-color: var(--gris-claro);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

#mejorpeli {
    background-color: var(--gris-claro);
}

#mejor-juego-texto {
    text-align: right;
}

.categoria img {
    width: 100%;
    border-radius: 20px;
    margin: 10px;
}

.naranja {
    color: var(--naranja);
    text-decoration: none;
}

.width-50 {
    width: 50%;
}

.h1 {
    font-size: 34px;
    font-weight: 600;
}

.h2 {
    font-size: 24px;
    font-weight: 600;
}

.formulario {
    background-color: #494747;
    padding: 10px;
    margin: 10px;
    color: #d48a0d;
    border: #d48a0d;
    width: 40%;
    border-radius: 20px;
}

.formulario ul li {
    padding: 2px;
    margin: 2px;
}

.footer {
    background-color: #4a4949;
    color: ghostwhite;
    text-align: center;
    font-size: small;
    font-weight: 40;
}

.footer h3,
h4 {
    margin: 2px;
}

#box div {
    position: absolute;
    height: 120px;
    width: 120px;
    border: 1px solid lightgrey;
    background: rgba(255, 200, 100, 0.8);
    text-align: center;
    /*font-size: 200px;*/
}

#box div img {
    width: 120px;
    height: 120px;
}

#box {
    animation-name: animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    margin: 80;
    transform-style: preserve-3d;
    /* transform-origin: 125px 125px 0; */
    transform-origin: 60px 60px 0;
}

#box .uno {
    /* transform: translateZ(125px); */
    transform: translateZ(60px);
}

#box .dos {
    /* transform: rotateX(-90deg) translateZ(125px); */
    transform: rotateX(-90deg) translateZ(60px);
}

#box .tres {
    /* transform: rotateY(90deg) rotateX(90deg) translateZ(125px); */
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}

#box .cuatro {
    /* transform: rotateY(180deg) rotateZ(90deg) translateZ(125px); */
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}

#box .cinco {
    /* transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px); */
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

#box .seis {
    /* transform: rotateY(90deg) translateZ(125px); */
    transform: rotateY(90deg) translateZ(60px);
}

@keyframes animation {

    from,
    to {}

    20% {
        -webkit-transform: rotateY(-90deg);
    }

    40% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    }

    60% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg);
    }

    80% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg) rotateY(-90deg);
    }

    100% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg) rotateX(180deg) rotateY(-90deg) rotateX(-90deg);
    }
}

/* 
.imagen-logo {
    height: 250px;
    width: 250px;
} */