* {
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #3D3C3C;
}
.nav-bar {
    width: 100%;
}
.nav-bar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-bar ul li a:link, li a:visited, li a.active{
  text-decoration: none;
  font-weight: 600;
  font-size: 3vmin ;
  color: #d48a0d;
  letter-spacing: 0.2em;
}


header {
    /*background-color: rgba(211, 211, 211, 0.952);*/
    width: 100%;
    background-color: #3D3C3C;
}
p {
    color: ghostwhite;
}
#logo {
    align-self: center;
    margin-left: 2%;
}
.flex {
    width: auto;
    display: flex;
}
.grid-container {
    display: grid;
    grid-template-columns:  50% 50%;
    gap: 10px;
    padding: 10px;
    background-color:#494747;
    margin: 20px;
}

.grid-item {
    background-color: #494747;
    padding:10px;   
    color: ghostwhite;
    text-align: left;   
    font-size: 24px;
    font-weight: 600;        
}
img {
    max-width: 100%;
    max-height: 100%;
}
.imagen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.trailer{
    text-align: center;
    background-color:#494747;
    margin: 20px;
}
h1 {
    font-size: 54px;
    font-weight: 600;
    text-align: center;
}
.h2 {
    font-size: 24px;
    font-weight: 600;
}
.descripcion{
    border-width: 1em;
    font-size:18px;
    padding: 10px;
    margin: 20px;
    background-color: #494747;
}
.descripcion ul li{
    font-size: 18px;
}
li>img{
    width:15px;
    height:10px;
}
.mejores-pelis{
    font-size: 24px;
    color: ghostwhite;
    text-align: center;
}
.mejores-pelis ul{
    list-style: none;
}
.mejores-pelis li a:link, li a:visited, li a.active {
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    /*olor: rgb(111, 141, 123);*/
    color: #d48a0d;
}
.mejores-pelis li a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #a16e14;
}
.footer {
    background-color: #4a4949;
    color:ghostwhite;
    text-align: center;
    font-size: small;
    font-weight: 40;
}
.footer h3,h4{
    margin:2px;
}


